.spyproject/
*.pyc
docs/build/doctrees/
.pylint.d/

pynlo/.DS_Store

.DS_Store
pynlo/fig/
examples/fig/

examples/edfa_examples/ipython_notebooks/.ipynb_checkpoints/
examples/edfa_examples/ipython_notebooks/.virtual_documents/
